body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Raleway", sans-serif;
}
.flx {
  display: flex;
}
.flx-col {
  flex-direction: column;
}
ul li {
  list-style-type: none;
}

/*----- header -----*/
header {
  font-size: 0.8em;
  justify-content: space-between;
  height: 20px;
  align-items: center;
  width: 100%;
}
.clock {
  font-weight: bold;
}
header div {
  margin: 0 2px;
  font-family: Arial, Helvetica, sans-serif;
}

/*----- main -----*/
nav {
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.menuname,
.icons {
  width: 30%;
}
.menuname {
  font-size: 1.5em;
  font-weight: 800;
}
nav ul {
  padding: 0;
  justify-content: space-between;
  font-size: 1.2em;
}
.alarm {
  justify-content: center;
  align-items: center;
  height: 43px;
  background-color: #fafafa;
  width: 100%;
  font-family: "Nunito", sans-serif;
}
.grey {
  color: #d4d4d4;
  margin: 0 5px 0 10px;
}
.user,
.channel,
.channellist {
  margin: 0 auto;
  width: 95%;
}
.user {
  align-items: center;
  padding: 10px 0 20px 0;
  border-bottom: 1px solid #ccc;
}
.profile {
  border-radius: 41%;
}
.channel {
  color: #aaa;
  justify-content: space-between;
}
.channellist {
  justify-content: space-between;
  align-items: center;
}
.user-name {
  font-size: 1.2em;
  padding: 0 25px;
}
.channelprofile {
  align-items: center;
}
.darkgrey {
  font-size: 1.2em;
  color: #aaa;
}

/*----- footer -----*/
footer {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f9f9f9;
  border-top: 0.5px solid #ccc;
}
footer ul {
  width: 70%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  font-size: 1.4em;
  height: 60px;
}
.another {
  width: 18px;
  height: 18px;
  background-color: #fa622a;
  border-radius: 50%;
  font-size: 0.7em;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  bottom: 30px;
  left: 40%;
}
.reddot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #fa622a;
  position: absolute;
  bottom: 75%;
  left: 85%;
}
