.more-suggestions {
  margin-top: 35px;
  border-top: var(--main-border);
  padding-top: 30px;
}

.more-suggestions__title {
  margin-bottom: 30px;
}

.more-suggestions__icons {
  display: flex;
  justify-content: space-around;
}

.more-suggestions__icon {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-suggestions__icon:last-child {
  margin-right: 0px;
}

.more-suggestions__icon-image {
  width: 43px;
  height: 43px;
  background-color: var(--yellow);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.more-suggestions__icon-image i {
  font-size: 22px;
  color: white;
}

.more-suggestions__icon-text {
  font-size: 13px;
  color: var(--grey);
  font-weight: 600;
}
