.settings__setting {
  padding: 18px 0;
  border-bottom: var(--main-border);
  font-size: 14px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  justify-content: space-between;
}

.settings__setting i {
  margin-right: 22px;
  font-size: 20px;
  opacity: 0.9;
}

.settings__setting-column:last-child{
    opacity: 0.5;
}
}
