.user-component__column:first-child,
.user-component {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 55px;
  height: 55px;
  border-radius: 23px;
  margin-right: 1em;
}

.user-component__title {
  font-weight: 600;
  font-size: 1.2em;
}

.user-component__subtitle {
  margin-top: 0.5em;
  color: rgba(0, 0, 0, 0.5);
}
